/* DeclutterList.css */
h2 {
    color: #6b8e58;
    /* 深いグリーン */
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #eaf9e1;
    /* 明るいパステルグリーン */
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #a4c3a2;
    border-radius: 5px;
}

p {
    color: #6b8e58;
}